.sidebar {
  @apply flex-1 bg-white min-h-screen pl-5;
  border-right: 0.5px solid rgb(230, 227, 227);

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }

  .center {

    h3 {
      color: #999;
      font-size: 13px;
      font-weight: 600;
      margin-left: 10px;
    }

    .title {
      font-size: 10px;
      font-weight: bold;
      color: #999;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  .bottom {
    @apply flex;

    .coloredOption {
      height: 2rem;
      width: 2rem;
      margin: 5px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;

      &:nth-child(1) {
        background: lightcyan;
      } 
  
      &:nth-child(2) {
        background: #333;
      }
    }

  }
}
