.featured{
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;

    .top{
        @apply flex items-center justify-between text-gray-600;
    }

    .bottom{
        @apply p-5 flex flex-col items-center justify-center gap-3;

        .featuredChart{
            @apply h-[100px] w-[100px];
        }

        .title {
            @apply font-medium text-gray-600;
        }

        .amount{ 
            @apply text-3xl;
        }

        .desc {
            @apply font-light text-xs text-gray-600 text-center;
        }
    }
}