.datatable {
    height: 650px;
    padding: 20px;

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
            background: rgba(0, 128, 0, 0.5);
            color: green;
        }
        &.passive {
            background: rgba(255, 217, 0, 0.5);
            color: goldenrod;
        }
        &.pending {
            background: rgba(255, 0, 0, 0.5);
            color: crimson;
        }
    }

    .cellAction {
        @apply flex items-center gap-4;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.596);
            cursor: pointer;
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }
    }
}